<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h2>Login to Music App</h2>
    <!-- Flase message for login errors -->
     {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p style="color: red;">{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}

    <!-- Login form -->

    <form method="POST">

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password"><br><br>

        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>


</body>
</html>